<ul>
  <li
    *ngFor="let v of videos"
    [class.selected]="(selectedVideoId | async) === v.id"
  >
    <a routerLink="" [queryParams]="{ selectedVideo: v.id }">
      <app-video-thumbnail [video]="v"></app-video-thumbnail>
    </a>
  </li>
</ul>
