<!-- <ng-template #loading>
  <p>loading...</p>
</ng-template> -->

<!-- <ng-container *ngIf="videoList | async as videos; else loading">
  <app-video-list
    [videos]="videos"
    (videoSelected)="setSelectedVideo($event)"
  ></app-video-list>
  <app-video-player [video]="selectedVideo"></app-video-player>
  <app-stat-filters></app-stat-filters>
</ng-container> -->

<app-video-list [videos]="videoList | async"></app-video-list>
<app-video-player [video]="selectedVideo | async"></app-video-player>
<app-stat-filters></app-stat-filters>
